@import url('https://fonts.googleapis.com/css?family=Lora');

.calculator {
    padding: 100px 50px;
    font: 24px/1.8 Lora, serif;
    /*background: #e8f0f6;*/
    background: #251B26;
    color: #ded8d8;
}

.inner {
    margin: 0 auto;
    max-width: 1000px;
}
