@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.select {
    margin: 0 12px;
    color: #fff;
    border: 2px solid #66515a;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.select, .select span, .select select {
    font: 18px/1.4 'PT Mono', monospace;
}

.select span {
    padding: 6px 8px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #251B26;
    pointer-events: none;
}

.select select {
    padding: 7px 15px;
    border: 0;
    background: #251B26;
    color: #fff;
}

.select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

.select select:-moz-focusring * {
    color: #fff;
    text-shadow: none;
}
